---
layout: default
title: "Twitter"
---

<div class="home">

  <h1 class="page-heading">Twitter</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'diary' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {%endif %}
    {% endfor %}
  </ul>

  <a class="twitter-timeline" href="https://twitter.com/IanRHum">Tweets by IanRHum</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
